{include="header"}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2>{function="L::adminhaiti_pagetitle"}
                <a class="btn btn-sm btn-default hidden-xs" href="{$fsc->url()}" title="recargar la página">
                    <span class="glyphicon glyphicon-refresh"></span>
                </a>
                </h2>
                
            </div>
            <p align="justify">
                {function="L::adminhaiti_pageinfo1"}<br />
                <div class="alert alert-info" role="alert">
                    {function="L::adminhaiti_pageinfo2"}
                </div>
                <div class="text-center">
                    <b>{function="L::adminhaiti_versioninfo"} {$fsc->version()}</b>
                </div>
            </p>
        </div>
    </div>
    <div class="row">
        <a href="{$fsc->url()}&opcion=moneda" class="btn btn-sm {if="$fsc->conf_divisa"}btn-success{else}btn-default{/if} col-sm-3">
            {if="$fsc->conf_divisa"}<span class="fa fa-check"></span>&nbsp;{/if}{function="L::adminhaiti_buttoncurrency"}
        </a>
        <a href="{$fsc->url()}&opcion=pais" class="btn btn-sm {if="$fsc->conf_pais"}btn-success{else}btn-default{/if} col-sm-3">
            {if="$fsc->conf_pais"}<span class="fa fa-check"></span>&nbsp;{/if}{function="L::adminhaiti_buttoncountry"}
        </a>
        <a href="{$fsc->url()}&opcion=configuracion_regional" class="btn btn-sm {if="$fsc->conf_regional"}btn-success{else}btn-default{/if} col-sm-3">
            {if="$fsc->conf_regional"}<span class="fa fa-check"></span>&nbsp;{/if}{function="L::adminhaiti_buttonregionalinfo"}
        </a>
        <a href="{$fsc->url()}&opcion=impuestos" class="btn btn-sm {if="$fsc->conf_impuestos"}btn-success{else}btn-default{/if} col-sm-3">
            {if="$fsc->conf_impuestos"}<span class="fa fa-check"></span>&nbsp;{/if}{function="L::adminhaiti_buttontaxes"}
        </a>
    </div>
</div>
{include="footer"}
